@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --f-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--f-family);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #1976d2;
  border-radius: 10px;
  padding: 50px 30px;
  &__item {
  }

  &__row {
    display: flex;
    gap: 15px 8px;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
